canvas,
body {
  margin: 0;
  padding: 0;
}

.configs {
  position: fixed;
  right: 5em;
  top: 5em;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2em;
  row-gap: 0.2em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1em;
  border-radius: 1em;
  border: 1pt solid #101010;
}

.configs .value {
  width: 4em;
  padding: 0;
}

.configs .description {
  width: max-content;
}

.configs button {
  grid-column-start: 1;
  grid-column-end: 3;
}
